<div class = "container">
  <div class ="row">
    <% if params[:membershiptype] == '2' %>
      <h2 class = "text-center">Sign up for Pro</h2>
      <p class = "text-center col-md-4 col-md-offset-4">Sign up for the Pro Accout for $10/Month and get access to the community and contacts.</p>
      <%= render "pro_form" %>
    <% else %>
      <h2 class = "text-center">Sign up for Basic</h2>
      <p class = "text-center col-md-4 col-md-offset-4">Sign up for free and get basic access to the community.</p>
      <%= render "basic_form" %>
    <% end %>
  </div>
</div>